In [1]:
import os
import matplotlib.pyplot as plt

### 텐서플로우와 판다스 라이브러리를 import하십시오

In [6]:
# your code here
import tensorflow as tf
import pandas as pd

### 왓슨 스튜디오 주피터 노트북의 Insert to Code 기능을 이용하여 offences.csv 파일을 판다스 dataframe 포탯으로 읽고 df.head()로 내용을 출력하십시오.

In [25]:
# your code here
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_126e7cdf0dfa453ca7584af0a1efc785 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='WCx2I59mqa5bR57Lh2hfT3Z8sGewHUK8baGsNpGXQU2f',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_126e7cdf0dfa453ca7584af0a1efc785.get_object(Bucket='middletest-donotdelete-pr-8alt8x5e2esx3k',Key='Offences.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df = pd.read_csv(body)
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Unnamed: 13
0,Abernathy,2821.0,0.0,0.0,NaN,0.0,0.0,0.0,12.0,12.0,0.0,0.0,1.0,NaN
1,Abilene,119401.0,477.0,1.0,NaN,37.0,125.0,314.0,4769.0,1055.0,3460.0,254.0,16.0,NaN
2,Addison,15961.0,51.0,1.0,NaN,4.0,11.0,35.0,784.0,129.0,593.0,62.0,1.0,NaN
3,Alamo,18876.0,164.0,0.0,NaN,11.0,27.0,126.0,1336.0,203.0,1052.0,81.0,1.0,NaN
4,Alamo Heights,7443.0,9.0,0.0,NaN,2.0,2.0,5.0,235.0,36.0,194.0,5.0,0.0,NaN

In [26]:
df = df.loc[:, ['Burglary', 'Murder and\nnonnegligent\nmanslaughter']]
df.columns = ['Burlaries', 'Manslaughter']

###  pandas의 dropna()를 사용하여 NaN이 있는 row들을 삭제하고 그 결과를 원래의 df 오브젝트로 저장하십시오. 
### 참조: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

In [33]:
# your code here
df.dropna(how='all')

     Burlaries  Manslaughter
0         12.0           0.0
1       1055.0           1.0
2        129.0           1.0
3        203.0           0.0
4         36.0           0.0
5        236.0           0.0
6        170.0           0.0
7         69.0           1.0
8         50.0           0.0
9        117.0           1.0
10      1816.0           9.0
11        74.0           0.0
12        86.0           1.0
13        46.0           0.0
14        15.0           0.0
15        20.0           0.0
16       135.0           0.0
17         8.0           0.0
18         5.0           0.0
19      3181.0          18.0
20         0.0           0.0
21        52.0           0.0
22        10.0           0.0
23      6550.0          26.0
24       104.0           0.0
25        14.0           0.0
26       261.0           2.0
27        17.0           0.0
28        58.0           0.0
29         2.0           0.0
..         ...           ...
574      561.0           2.0
575        8.0           0.0
576       29.0           0.0
577       26.0           0.0
578        4.0           0.0
579        4.0           0.0
580       15.0           0.0
581       77.0           0.0
582       17.0           0.0
583       20.0           0.0
584       14.0           0.0
585       98.0           0.0
586        8.0           0.0
587       16.0           0.0
588      995.0           7.0
589       13.0           0.0
590       56.0           0.0
591       65.0           0.0
592       23.0           0.0
593        1.0           0.0
594       36.0           0.0
595       10.0           0.0
596        8.0           0.0
597        1.0           0.0
598       13.0           0.0
599       20.0           0.0
600       12.0           0.0
601       75.0           1.0
602       79.0           0.0
603       21.0           0.0

[604 rows x 2 columns]

In [34]:
learningRate = 0.0000001
numEpochs = 100

### x와 y 변수 두 개를 tf.placeholder를 사용하여 선언하십시오. dtype은 float32, shape는 [None, ]

In [36]:
# your code here 
x = tf.placeholder(dtype=tf.float32)
y = tf.placeholder(dtype=tf.float32)

### w와 b 두 텐서를 모두 0으로 초기화 shape는 [1]

In [37]:
w = tf.Variable(tf.zeros(shape=[1]))
b = tf.Variable(tf.zeros(shape=[1]))

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

### 아래 셀 중에 your code here 부분을 완성하십시오.

In [38]:
# Predictor변수를 y_pred로 이름짓고 y_pred = x * W + b 텐서 연산을 정의하십시오
y_pred = "x * W + b "


# loss 함수를 최소자승법을 사용하여 정의하십시오. y와 y_pred의 차이의 제곱을 사용
loss = tf.reduce_mean("your code here")

# optimizer를 기본 경사하강법을 사용하여 정의하십시오.
optimiser = tf.train.GradientDescentOptimizer(l"0.05").minimize("loss)

with tf.Session() as session:
    session.run(tf.global_variables_initializer())

    input, output = df.iloc[:, 0], df.iloc[:, 1]
    for epoch in range(numEpochs):
        _, sampleLoss, pred = session.run([optimiser, loss, y_pred], {x: input, y: output})
        print("EPOCH:", epoch + 1)
        print("LOSS: ", sampleLoss)
        print("")

    y_preds = session.run(y_pred, {x: input, y: output})

SyntaxError: invalid syntax (<ipython-input-38-7be9a5cf5552>, line 9)

In [ ]:
for i in range(df.shape[0]):
    x, y = df.iloc[i, 0], df.iloc[i, 1]
    plt.scatter(x, y, c='b')

plt.plot(input, y_preds, c='r')

plt.show()